<h1>Clock+</h1>

<div class="timeMeanings">
    <ul id="list">
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>Business time</li>
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>Business overtime</li>
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>Personal time</li>
        <li><i class="fas fa-moon"></i>Sleeping time</li>
    </ul>
</div>

<div class="melbourne">
    <p>Melbourne: <%= @melbHour %></p>

    <div id="shMelbTwenty" style="display: none">
        <%= @melbHour %></p></div>
    </div>
    <div id='shMelbTwelve' >
        <%= @twelveMelb %>
    </div>


    <% if @melbDay == 0 %>
        <p>Yesterday</p>
    <% elsif @melbDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
    <% if @melbTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @melbTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @melbTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

</div>

<div class="tokyo">
    <p>Tokyo: <%= @tokyoHour %></p>
    
    <%= @tokyoComp %>h

    <div id="shTokyoTwenty" style="display: none">
        <%= @tokyoHour %></p></div>
    </div>
    <div id='shTokyoTwelve' >
        <%= @twelveTokyo %>
    </div>

    <% if @tokyoTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @tokyoTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @tokyoTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    
    <% if @tokyoDay == 0 %>
        <p>Yesterday</p>
    <% elsif @tokyoDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>

</div>

<div class="rome">
    <p>Rome: <%= @romeHour %></p>
    
    <%= @romeComp %>h


    <div id="shRomeTwenty" style="display: none">
        <%= @romeHour %></p></div>
    </div>
    <div id='shRomeTwelve' >
        <%= @twelveRome %>
    </div>

    <% if @romeTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @romeTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @romeTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    
    <% if @romeDay == 0 %>
        <p>Yesterday</p>
    <% elsif @romeDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
</div>

<div class="moscow">
    <p>Moscow: <%= @moscowHour %></p>
    <%= @moscowComp %>h
    
    <div id="shMoscowTwenty" style="display: none">
        <%= @moscowHour %></p></div>
    </div>
    <div id='shMoscowTwelve' >
        <%= @twelveMoscow %>
    </div>


    <% if @moscowTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @moscowTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @moscowTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    <% if @moscowDay == 0 %>
        <p>Yesterday</p>
    <% elsif @moscowDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
</div>

<div class="la">
    <p>Los Angeles: 
    <div id="shLaTwenty" style="display: none">
        <%= @laHour %></p></div>
    </div>
    <div id='shLaTwelve' >
        <%= @twelveLa %>
    </div>
    <%=@laComp%>h
    <% if @laTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @laTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @laTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% elsif  @laTime == "Sleeping Time" %>
        <i class="fas fa-moon"></i>
    <% end %>
   
     <% if @laDay == 0 %>
        <p>Yesterday</p>
    <% elsif @laDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>

</div>

<style type="text/css"> 
        .selectt { 
            color: #fff; 
            padding: 30px; 
            display: none; 
            margin-top: 30px; 
            width: 60%; 
            background: green 
        } 
          
        label { 
            margin-right: 20px; 
        } 
    </style> 

<label for="chkPassport">
    <input type="checkbox" id="chkPassport" />
    24-Hour Clock
</label>
<hr />

<script>
$(function () {
        $("#chkPassport").click(function () {
            if ($(this).is(":checked")) {
                $("#shMelbTwenty").show();
                $("#shMelbTwelve").hide();

                $("#shTokyoTwenty").show();
                $("#shTokyoTwelve").hide();

                $("#shRomeTwenty").show();
                $("#shRomeTwelve").hide();

                $("#shMoscowTwenty").show();
                $("#shMoscowTwelve").hide();

                $("#shLaTwenty").show();
                $("#shLaTwelve").hide();


            } else {
                $("#shMelbTwenty").hide();
                $("#shMelbTwelve").show();

                $("#shTokyoTwenty").hide();
                $("#shTokyoTwelve").show();

                $("#shRomeTwenty").hide();
                $("#shRomeTwelve").show();

                $("#shMoscowTwenty").hide();
                $("#shMoscowTwelve").show();

                $("#shLaTwenty").hide();
                $("#shLaTwelve").show();
            }
        });
    });
</script>
