<h1>Clock+</h1>

<div class="timeMeanings">
    <ul id="list">
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>Business time</li>
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>Business overtime</li>
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>Personal time</li>
        <li><i class="fas fa-moon"></i>Sleeping time</li>
    </ul>
</div>

<div class="melbourne">
    <p>Melbourne: <%= @melbHour %></p>
    
    <% if @melbDay == 0 %>
        <p>Yesterday</p>
    <% elsif @melbDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
    <% if @melbTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @melbTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @melbTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

</div>

<div class="tokyo">
    <p>Tokyo: <%= @tokyoHour %></p>
    
    <%= @tokyoComp %>h

    <% if @tokyoTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @tokyoTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @tokyoTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    
    <% if @tokyoDay == 0 %>
        <p>Yesterday</p>
    <% elsif @tokyoDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>

</div>

<div class="rome">
    <p>Rome: <%= @romeHour %></p>
    
    <%= @romeComp %>h
    <% if @romeTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @romeTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @romeTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    
    <% if @romeDay == 0 %>
        <p>Yesterday</p>
    <% elsif @romeDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
</div>

<div class="moscow">
    <p>Moscow: <%= @moscowHour %></p>
    <%= @moscowComp %>h
    

    <% if @moscowTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @moscowTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @moscowTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    <% if @moscowDay == 0 %>
        <p>Yesterday</p>
    <% elsif @moscowDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
</div>

<div class="la">

    <p>Los Angeles: <%= @laHour %></p>
    <%=@laComp%>h
    <% if @laTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @laTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @laTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% elsif  @laTime == "Sleeping Time" %>
        <i class="fas fa-moon"></i>
    <% end %>
   
     <% if @laDay == 0 %>
        <p>Yesterday</p>
    <% elsif @laDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>

</div>
<%= check_box("tag", tag.id)%>
