<h1>Clock+</h1>
<p>Melbourne: <%= @melbHour %></p>
<%= @melbTime%>
<p>Tokyo: <%= @tokyoHour %>     <%=@tokyoComp%>h</p>
<%= @tokyoTime%>
<p>Rome: <%= @romeHour %>     <%= @romeComp%>h</p>
<%= @romeTime%>
<p>Moscow: <%= @moscowHour %>     <%= @moscowComp%>h</p>
<%= @moscowTime%>

<%= check_box("tag", tag.id)%>