<nav class="navbar"><h1>Clock+</h1></nav>
    <div class="container">
        <div>
            <input type="button" value="Red" id="toggle-red" />
            <input type="button" value="Blue" id="toggle-blue" />            
            <input type="button" value="Green" id="toggle-green" />
            
        </div>
<div class="timeMeanings">
    <ul id="list">
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>Business time</li>
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>Business overtime</li>
        <li><i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>Personal time</li>
        <li><i class="fas fa-moon"></i>Sleeping time</li>
    </ul>
</div>

<div class="melbourne">
    <p>Melbourne: 
    <div id="shMelbTwenty" style="display: none">
        <%= @melbHour %></p></div>
    </div>
    <div id='shMelbTwelve' >
        <%= @twelveMelb %>
    </div>


    <% if @melbDay == 0 %>
        <p>Yesterday</p>
    <% elsif @melbDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
    <% if @melbTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @melbTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @melbTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

</div>

<div class="tokyo">
    <p>Tokyo: 
    <div class="tokyo" id="shTokyoTwenty" style="display: none">
        <%= @tokyoHour %></p></div>
    </div>
    <div class="tokyo" id='shTokyoTwelve' >
        <%= @twelveTokyo %>
    </div>
    <div class="tokyo">
    <%= @tokyoComp %>h
    <% if @tokyoTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @tokyoTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @tokyoTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    
    <% if @tokyoDay == 0 %>
        <p>Yesterday</p>
    <% elsif @tokyoDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
    </div>
</div>
<hr />
<div class="rome">
    <p>Rome:     
    <div class="rome" id="shRomeTwenty" style="display: none">
        <%= @romeHour %></p></div>
    </div>
    <div class="rome" id='shRomeTwelve' >
        <%= @twelveRome %>
    </div>
    <div class="rome">
     <%= @romeComp %>h
    <% if @romeTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @romeTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @romeTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    
    <% if @romeDay == 0 %>
        <p>Yesterday</p>
    <% elsif @romeDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
    </div>
</div>
<hr />
<div class="moscow">
    <p>Moscow:
    <div class="moscow" id="shMoscowTwenty" style="display: none">
        <%= @moscowHour %></p></div>
    </div>
    <div class="moscow" id='shMoscowTwelve' >
        <%= @twelveMoscow %>
    </div>
    
    <div class="moscow">
    <%= @moscowComp %>h
    <% if @moscowTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @moscowTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @moscowTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% else %>
        <i class="fas fa-moon"></i>
    <% end %>

    <% if @moscowDay == 0 %>
        <p>Yesterday</p>
    <% elsif @moscowDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
    </div>
</div>
<hr />
<div class="la">
    <p>Los Angeles: 
    <div class="la" id="shLaTwenty" style="display: none">
        <%= @laHour %></p></div>
    </div>
    <div class="la" id='shLaTwelve' >
        <%= @twelveLa %>
    </div>
    <div class="la">
    <%=@laComp%>h

    <% if @laTime == "Business" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:green"></i>
    <% elsif @laTime == "Business Overtime" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:yellow"></i>
    <% elsif @laTime == "Person Time" %>
        <i class="fa fa-circle fa-lg" aria-hidden="true"style="color:red"></i>
    <% elsif  @laTime == "Sleeping Time" %>
        <i class="fas fa-moon"></i>
    <% end %>
   
     <% if @laDay == 0 %>
        <p>Yesterday</p>
    <% elsif @laDay == 1 %>
        <p>Today<p>
    <% else %>
        <p>Tomorrow</p>
    <% end %>
    </div>
</div>
<hr />
<style type="text/css"> 
        .selectt { 
            color: #fff; 
            padding: 30px; 
            display: none; 
            margin-top: 30px; 
            width: 60%; 
            background: green 
        } 
          
        label { 
            margin-right: 20px; 
        } 
    </style> 

<label for="timeHide">
    <input type="checkbox" id="timeHide" />
    24-Hour Clock
</label>
<hr />
<!-- https://www.aspsnippets.com/Articles/Check-if-a-CheckBox-is-checked-or-not-using-ID-in-JavaScript-and-jQuery.aspx -->
<script>
$(function () {
        $("#timeHide").click(function () {
            if ($(this).is(":checked")) {
                $("#shMelbTwenty").show();
                $("#shMelbTwelve").hide();

                $("#shTokyoTwenty").show();
                $("#shTokyoTwelve").hide();

                $("#shRomeTwenty").show();
                $("#shRomeTwelve").hide();

                $("#shMoscowTwenty").show();
                $("#shMoscowTwelve").hide();

                $("#shLaTwenty").show();
                $("#shLaTwelve").hide();


            } else {
                $("#shMelbTwenty").hide();
                $("#shMelbTwelve").show();

                $("#shTokyoTwenty").hide();
                $("#shTokyoTwelve").show();

                $("#shRomeTwenty").hide();
                $("#shRomeTwelve").show();

                $("#shMoscowTwenty").hide();
                $("#shMoscowTwelve").show();

                $("#shLaTwenty").hide();
                $("#shLaTwelve").show();
            }
        });
    });

</script>

<!-- https://www.sitepoint.com/css-theming-custom-properties-javascript/ this script as well as the css-->
<script>
document.body.onload = ()=>{
  
    const redBtn = document.querySelector('#toggle-red');
    const blueBtn = document.querySelector('#toggle-blue');
    const greenBtn = document.querySelector('#toggle-green');
    
    redBtn.addEventListener('click',(e)=>{
   
      console.log("red");
      document.documentElement.style.setProperty('--main-hue', 360);
   })
    
  blueBtn.addEventListener('click',(e)=>{
      document.documentElement.style.setProperty('--main-hue', 240);
    })
    
    greenBtn.addEventListener('click',(e)=>{
      document.documentElement.style.setProperty('--main-hue', 120);
    })  
  }
</script>


    </div>

<!-- database works, but didn't manage to finish -->
<!--<%= render@cities %>-->