<li id="city-<%= city.id %>">
    <span class="value"><%= city.value%>
    <span class="abbr"><%= city.abbr%>
    <span class="offset"><%= city.offset%>
    <span class="isdst"><%= city.isdst%>
    <span class="text"><%= city.text%>
    <span class="utc"><%= city.utc%>

</li>